.container{
    display:grid;
    grid-template-columns:10rem 50rem;
    gap: 5rem;
    justify-content: center;
}
.board{
    display:grid;
    width:40rem;
    height:40rem;
    border:10px solid rgb(42, 97, 104);
   
    

}
h1{
    color:rgb(42, 97, 104);
    text-shadow: 3px 4px 3px black;
    font-size: 5rem;
    font-style: italic;
    font-family: emoji;
    text-align: center;
}

.side-bar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}


.btn:hover{
    transform: scale(1.1);

}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 10rem;
	height: 3rem;
   
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
input{
  
    cursor: pointer;
   
    
    
    
}

