*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display:grid;
    grid-template-columns:10rem auto;
    grid-template-rows: auto;
    gap:5%;
    justify-content: center;
    margin: 2rem 1rem;
    border-radius: 20px;
   
  
}
.board{
    display:grid;
    border:5px solid rgb(42, 97, 104);
    margin-top: 2rem;
    height: 35rem;
    width: 35rem;
}
h1{
    color:rgb(42, 97, 104);
    text-shadow: 3px 4px 3px black;
    font-size: 5rem;
    font-style: italic;
    font-family: emoji;
    text-align: center;
}

.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.btn{
    background-color:rgb(42, 97, 104); 
    color: white;
    font-weight: bold;
    margin-top: 2rem;
    font-size: 1rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s;
}


.btn:hover{
    background-color: rgb(72, 164, 177);
    

}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 10rem;
	height: 3rem;
   
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
 
input{
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .board{
     
        height: 25rem;
        width: 25rem;
      
    }
    .btn{
        margin-top: 1rem;
        font-size: 1rem;
        padding: .5rem;
    }

    
}
@media screen and (max-width:600px) {
    .board{
        height: 20rem;
        width: 20rem;
    }
    .btn{
        margin-top: .5rem;
        font-size: .8rem ;
        padding: .5rem 0; 
    }

    
}
